@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(../Image/background-9.jpg);
}
nav {
    height: 70px;
    padding: 20px 50px;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo span {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}
nav .logo i {
    color: lightpink;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 3px;
}
nav .menu {
    float: right;
    display: inline-flex;
    margin-top: -25px;
}
nav .menu li a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 30px;
}
nav .menu li i {
    margin-right: 3px;
}
nav .menu li #active, nav .menu li a:hover {
    color: lightpink;
    transition: .5s ease;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
}
.dropdown .dropdown-menu a {
    display: block;
    line-height: 30px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#check {
    display: none;
}
.check-button {
    float: right;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
    display: none;
}
header {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 0px 50px;
}
header .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .profile h1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
}
header .profile .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}
header .profile  h2 i {
    color: lightpink;
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 3px;
}
header .profile .info {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
    margin-top: 40px;
}
header .contact {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
}
header .contact h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 8px;
    border: 2px solid lightpink;
    border-width: 0px 0px 0px 3px;
}
header .contact .icons {
    display: flex;
    flex-direction: column;
}
header .contact .icons p {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    line-height: 30px;
}
header .contact .icons #icon {
    color: lightpink;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
}
footer {
    padding: 20px 50px;
    margin-top: 80px;
}
footer .media-social {
    float: left;
}
footer .media-social a {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 20px;
}
footer .media-social a:hover {
    color: rgb(147, 99, 147);
    transition: .5s ease;
}
footer h4 {
    float: right;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    margin-top: 9px;
}

/* media screen smartphone */
@media screen and (max-width: 800px) {
    .check-button {
        display: block;
    }
    nav {
        padding: 20px 50px;
    }
    nav .menu {
        display: block;
        position: fixed;
        width: 40%;
        min-height: 100vh;
        top: 100px;
        right: -100%;
        text-align: center;
        border-radius: 30px 0px 0px 30px;
        background-color: rgba(0, 0, 0, .2);
        transition: all .5s;
    }
    nav .menu li {
        display: block;
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
    }
    nav .menu li a {
        font-size: 1rem;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    .dropdown:hover .dropdown-menu {
        display: none;
    }
    header .info {
        font-size: .8rem;
    }
    footer h4 {
        float: left;
        margin-top: 7px;
        margin-bottom: 10px;
    }
}